.input {
	padding: 15px 0 0 0;
	max-width: 300px;
	width: 220px;
	margin-bottom: 15px;
}

.input__input {
	width: 100%;
	padding: 12px 20px;
	box-sizing: border-box;
	border-radius: 20px;
	background: var(--background-input);
	border: 0;
	margin-bottom: 5px;
}

.input__error {
	color: var(--error-color);
	font-size: 12px;
	text-align: center;
	height: 12px;
}
