.button {
	margin: 10px;
}

.button__button {
	background-color: var(--background-button);
	border: none;
	cursor: pointer;
	color: var(--white-color);
	padding: 15px 32px;
	font-size: 14px;
	border-radius: 20px;
}

.button__button:hover {
	opacity: 0.8;
}
.button__link-view {
	padding: 0;
	background-color: inherit;
	color: var(--active);
	box-shadow: none;

	&:hover {
		background-color: inherit;
		color: var(--active-dark);
	}
}
.button__transparent {
	background-color: transparent;
	padding: 0;
	box-shadow: none;
	font-size: 12px;
	&:hover {
		background-color: transparent;
	}
}
.button__buttonConfig {
	width: 34px;
	height: 34px;
	background-color: #fff;
	border: none;
	background-image: url(../../../static/icons/chatButtonConfig.svg);
	background-repeat: no-repeat;
	background-position: center;

	&:hover {
		cursor: pointer;
	}
}
.button__buttonAttachment {
    width: 34px;
    height: 34px;
    background-color: var(--white-color);
    border: none;
    background-image: url(../../../static/icons/chatButtonAttachment.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
.button__buttonSend {
    width: 28px;
    height: 28px;
    background-color: #fff;
    border: none;
    background-image: url(../../../static/icons/buttonIconArrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: rotate(180deg);
    padding: 0;
  
    &:hover {
      cursor: pointer;
    }
  }
  .danger {
	color: var(--error-color);
  }
