.profile-screen {
	width: 100%;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	align-items: center;
	padding-top: 30px;
}
.profile-screen__content {
	flex-grow: 2;
	width: 100%;
	margin-top: 30px;
	background: var(--white-color);
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	padding-top: 10px;
	box-sizing: border-box;
	overflow-y: auto;
	position: relative;
	flex-direction: column;
	display: flex;
}

.profile-screen__title {
	font-size: 34px;
	font-weight: 900;
	position: sticky;
	top: -15px;
	background: var(--white-color);
	padding: 20px 30px 5px 30px;
}

.profile-screen__info {
	display: flex;
	flex-direction: column;
	margin: 5px 0;
	padding: 0px 30px;
}

.profile-screen__info-wrapper {
	display: flex;
	flex-direction: column;
	flex-grow: 2;
}

.profile-screen__label {
	font-size: 12px;
	color: var(--profile-screen-label);
	padding: 5px 0;
	font-weight: bold;
}

.profile-screen__value {
	font-weight: bold;
}

.user-profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.user-profile__name {
	font-weight: 700;
	font-size: 18px;
	padding-top: 10px;
}

.user-profile__avatar {
	background-image: url('../../../static/icons/camera-solid.svg');
	width: 50px;
	height: 50px;
	background-size: cover;
	border-radius: 50%;
}
.profile-screen__setting {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	& .button__button {
		background-color: var(--profile-button-background);
	}
}

.side-nav {
	height: 100%;
	width: 64px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: var(--white-color);
	overflow-x: hidden;
	padding-top: 20px;
}

.side-nav__button {
	position: absolute;
	top: 450px;
	left: 15px;
	& a::before {
		content: '';
		position: absolute;
		width: 0px;
		height: 0px;
		border-top: 10px solid transparent;
		border-right: 10px solid var(--black-color);
		border-bottom: 10px solid transparent;
		top: 0px;
		right: -18px;
	}
}
