{{#>wrappedContainer}}
    <nav class="side-nav">
        <div class="side-nav-button">
        <a href="#"><span></span></a>
        </div>
    </nav>
    <div class="wrap-profile">
    <div class="profile-avatar">
        <span class="profile-icon"></span>
    </div>
    <h2>Иван</h2>
    {{#each profileInfo}}
   <div class="profile-info">
        <span>{{this.fieldName}}</span>
        <span>{{this.profileInfo}}</span>
    </div>
    {{/each}}
    <div class="profile-link">
     <div class="profile-info">
        <a href="#">Изменить данные</a>
    </div>
    <div class="profile-info">
        <a href="#">Изменить пароль</a>
    </div>
    <div class="profile-info">
        <a href="#" class="red">Выйти</a>
    </div>
</div>
</div>
{{/wrappedContainer}}