{{#>wrappedContainer}}
    <div class='not-found'>
        <h1>{{notFound.statusTitle}}</h1>
        <h2>{{notFound.errorMessage}}</h2>
        <a href="#">{{linkMessage}}</a>
    </div>
{{/wrappedContainer}}