.chat_container {
  display: grid;
  grid-template-columns: 20% auto;
  height: 100vh;
  }
  .chat_container__tape {
    background: white;
    grid-column-start: 1;
    grid-column-end: 2;
    border-right:1px solid #a5a0a0 ;
  }
  .chat_container__tape a {
    background: url('../../../static/icons/profile_link_icon.png') right no-repeat;
    display: flex;
    justify-content: right;
    border: none;
    margin-left: auto;
    margin-right: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    align-items: center;
    color: #a5a0a0;
    padding-right: 14px;
  }
  
  .chat_container__dialog {
    display: grid;
    grid-template-rows: 5% auto 7%;
  }
  
  .chat_container__dialog__contact {
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    background-color: white;
    grid-template-columns: 7% 10% auto;
    border-bottom: 1px solid white;
    height: 60px;
  }
  .chat_container__dialog__contact__avatar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background: url('../../../static/icons/Ellipse 1.png') no-repeat;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    display: block;
    margin: auto;
  }
  .chat_container__dialog__contact__name {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: black;
    display: flex;
    text-align: left;
    align-items: center;
  }
  .chat_container__dialog__contact__menu {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background: url('../../../static/icons/Group 3.png') no-repeat;
    background-position: 0px 15px;
    width: 30px;
    height: 50px;
    margin-left: auto;
    margin-right: 0;
  }
  .chat_container__dialog__dialog {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 20px 0px 5px;
  }
  .chat_container__dialog__textarea{
    background-color: white;
  }
  .message p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--grey-color);
  }