:root {
	--background-button: #1f9af3;
	--background-input: #e2f0fa;
  --backgroundGray: #fbfbfb;
	--profile-screen-label: #999;
	--profile-button-background: #39cbc5;
  --lightGray: #efefef;
	--background-color-body: #2ec4b6;
	--background-color-gradient: #9eb1e9;
	--background-search-input: rgba(13, 31, 51, 0.3);
	--screen-background: #e2f0fa;
  --darkGray: #f8f8f8;
	--grey-color: #a5a0a0;
	--primary-color: #007bff;
	--white-color: #ffffff;
	--black-color: #000000;
	--dark-blue-color: rgba(0, 123, 255, 0.3);

	--error-color: rgba(241, 18, 18, 0.8);
	--lightBlue: #e4edfd;
	--gray: #999;
	--blue: #3369f3;
	--chat-tape: rgba(0, 123, 255, 0.05);
	--background-color-loading: #777;
}
