{{#>wrappedContainer}}
    <div class='internal-error'>
        <h1>{{internalServerError.statusTitle}}</h1>
        <h2>{{internalServerError.errorMessage}}</h2>
        <a href="#">{{linkMessage}}</a>
    </div>
{{/wrappedContainer}}