.internal-error{
    & h1{
        font-size: 100px;
        text-align: center;
        margin-bottom: 20px;
    }
    & h2{
        font-size: 28px;
        margin-bottom: 69px;
    }
    & a{
        text-align: center;
        display: block;
        color:#3369F3
    }
}